:root {
    --color-blue: #2996cc;
    --color-bg: #f2f4f5;
    --color-bd: #c8ccce;
}
.main {
    background-color: var(--color-bg);
    border: 1px solid #c8ccce;
    
}

.product {
    cursor: pointer;
    font-size: 12px;
}

.main , .shop {
    display: inline-block;
    vertical-align: top;
    height: 100vh;
}

.cobrar {
    width: 100%;
    background-color: var(--color-blue);
    color: white;
    border: none;
    padding: 10px;
    vertical-align: bottom;
}

.shop {
    padding: 0px;
}

.productShop p{
    display: inline-block;
}

.name {
    margin-right: 120px;
}


/*Estilo componente Intro*/
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
   padding: 0;
}
a.nav-link{
  background: var(--color-blue);
  padding: 1rem 1rem;
  color: var(--color-bg);
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  line-height: 1rem;
  letter-spacing: 2px; 
}
a {
    color: white;
}
  /*iconos del menu*/
.icons_menu {
  height: 2rem;
  margin-right: 1rem; 
}

.fa-trash-alt{
    color: var(--color-blue);

}

.btnTrash{
    background-color: transparent;
    border: none;
}
@media (max-width: 576px) {
    .product{
        font-size: 8px;
    }

    .shop {
        font-size: 12px;
        font-weight: bold;
    }

    .productShop{
        font-size: 10px;
    }

    .main {
        padding: 0px;
        margin: 0px;
    }
}