:root {
    --color-blue: #2996cc;
    --color-bg: #f2f4f5;
    --color-bd: #c8ccce;
}
.main {
    background-color: var(--color-bg);
    border: 1px solid #c8ccce;
    
}

.product {
    cursor: pointer;
    font-size: 12px;
}

.main , .shop {
    display: inline-block;
    vertical-align: top;
}

.cobrar {
    width: 100%;
    background-color: var(--color-blue);
    color: white;
    border: none;
    padding: 10px;
    vertical-align: bottom;
}

.shop {
    padding: 0px;
}

.productShop p{
    display: inline-block;
}

.name {
    margin-right: 120px;
}


/*Estilo componente Intro*/

li.list-group-item{
  background: var(--color-blue);
  padding: 2rem 1rem;
  color: var(--color-bg);
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  line-height: 1rem;
  letter-spacing: 2px; 
}
  
  /*iconos del menu*/
.icons_menu {
  height: 2rem;
  margin-right: 1rem;
}

/* estilos para el componente 'PayList' */
 .monto-pay, .input-efectivo, .input-credito{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.monto-pay{
    padding:10px;
    border-top: 1px solid rgb(199, 199, 252);
    border-bottom: 1px solid rgb(199, 199, 252);
    font-weight: bold;
    color:rgb(85, 83, 83);
}

.monto-pay>div{
    color: rgb(59, 145, 216);
    font-size:30px;
}

.form-pay form{
    padding:10px;
    font-weight: bold;
    color:rgb(85, 83, 83);
}

form img{
    width: 35px;
    height: 30px;
}

.form-check-label>label>input,.form-check-label>img{
    padding: 0 5px;
}

.input-credito-icons{
    display:flex;
    align-items: center;
    justify-content: center;
}

.form-check-input{
    border:none;
    background-color: none;
    height:20px ;
    width: 20px;
}

.input-efectivo{
    margin: 15px;
}

.form-check-1{
    border-bottom: 1px solid rgb(199, 199, 252);
}

.input-efectivo ul{
    margin:10px;
    list-style: none;
}

.input-credito{
    padding: 10px;
}
.input-credito input{
    margin: 10px;
}

.form-pay button{
    margin:20px 0 0 0;
}

.input-credito-icons span{
    padding-top:11px;
    margin:0;
}
