:root {
    --color-blue: #2996cc;
    --color-bg: #f2f4f5;
    --color-bd: #c8ccce;
}
.main {
    background-color: var(--color-bg);
    border: 1px solid #c8ccce;
    
}

.product {
    cursor: pointer;
    font-size: 12px;
}

.main , .shop {
    display: inline-block;
    vertical-align: top;
}

.cobrar {
    width: 100%;
    background-color: var(--color-blue);
    color: white;
    border: none;
    padding: 10px;
    vertical-align: bottom;
}

.shop {
    padding: 0px;
}

.productShop p{
    display: inline-block;
}

.name {
    margin-right: 120px;
}


/*Estilo componente Intro*/

li.list-group-item{
  background: var(--color-blue);
  padding: 2rem 1rem;
  color: var(--color-bg);
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  line-height: 1rem;
  letter-spacing: 2px; 
}
  
  /*iconos del menu*/
.icons_menu {
  height: 2rem;
  margin-right: 1rem;
}